doctype html
html(lang="en")
    head
        //- tag generales
        meta(charset="UTF-8")
        meta(name="description", content="Portafolio de Gersom Alaja")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Gersom - Portafolio
        
        //- hojas de estilo
        link(href="css/style.css", rel="stylesheet", type="text/css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    body
        h1 hola soy un titulo
        p esto es un parafo
        
