// importaciones de los plugins
@import "../gersom/main.styl"
@import "../plugins/normalize.styl"

// importaciones de los ladings
@import "main/header.styl"
@import "main/skills.styl"
@import "main/modifier.styl"


// propiedades generales
// .Body
//    background $light-red
