// importaciones de los plugins
@import "../gersom/main.styl"
@import "../plugins/normalize.styl"

// importaciones de los ladings
@import "main/header.styl"


// propiedades generales
.Body
   background $light-blue
