body,
html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.Header .Person {
  width: 150px;
  height: 150px;
}
.Header .Person__avatar {
  width: 100%;
}
.Header__navegation .List {
li
  list-style: none;
a
  display: block;
  text-decoration: none;
}
.Header__data .List {
li
  list-style: none;
a
  display: block;
  text-decoration: none;
}
.Body {
  background: #56a8b0;
}
