$silver  = #dddddd
$gray    = #aaaaaa
$navy    = #001f3f
$blue    = #0074d9
$aqua    = #7fdbff
$teal    = #39cccc
$olive   = #3d9970
$green   = #2ecc40
$lime    = #01ff70
$yellow  = #ffdc00
$orange  = #ff851b
$red     = #ff4136
$maroon  = #85144b
$fuchsia = #f012be
$purple  = #b10dc9

$fb = #2775e2
$tw = #2bb4e8
$goo = #dd4b39
$you = #e14e42
$itg = #417096

$light-blue = #56a8b0
$light-green = #95c2b1
$light-red = #e35f5f
$light-yellow = #dec950
$light-orange = #e3975d
$light-pink = #e65e77
$light-brown = #ad7953
$light-gray = #a3a3a3
