@import "colores.styl"

$font-size      = 16px
$esp-sep        = 4em
$color1         = $blue
$color2         = white
$color-fondo    = $light-gray
$borde-color    = $color2
$borde-grozor   = 2px
$borde-radio    = 0.3em

// importaciones
@import "mixins.styl"
@import "titulos.styl"


// propiedades generales
body, html
    font-size: $font-size
    height: 100%
    margin: 0
    padding: 0
    width: 100%
