// colores
@import "colores.styl"

// variables generales
$font-size      = 16px
$esp-sep        = 0.5rem
$color1         = $blue
$color2         = white
$color-fondo    = $light-gray
$borde-color    = rgba($color2, 0.4)
$borde-grozor   = 0.15rem
$borde-radio    = 0.35rem

// importaciones
@import "mixins.styl"
@import "titulos.styl"


// propiedades generales
body, html
   font-size $font-size
   height 100%
   margin 0
   // padding $esp-sep
   width 100%
   box-sizing border-box
