tituleando($multiplier, $margins = true)
    font-size: $multiplier;
    font-weight: bold;
    margin: 0.75rem 0;
    line-height: 1.6rem;



h1()
    tituleando(2.4rem);
h2()
    tituleando(1.8rem);
h3()
    tituleando(1.5rem);
h4()
    tituleando(1.3rem);
h5()
    tituleando(1.0rem);
h6()
    tituleando(0.9rem);
