footer.Footer
   form.Form
      label.Form__label(for='name') nombre
      input.Form__input#name(type='text')
   
      label.Form__label(for='email') e-m@il
      input.Form__input#email(type='email')

      label.Form__label(for='reason') motivo
      textarea.From__textarea#reason
   
      button.From__input Enviar
   
   div.Credits
      p.Credits__description.
         2015 Gersom Portafolio. Todos los derechos no reservados.
