header.Header
   figure.Person
      img.Person__avatar(src="img/avatar.jpg")
   div.Header__data
      ul.List
         li.List__element.
            gersom alaja
   nav.Header__navegation
      div.Dropdown
         button.Dropdown--aloneBorder(type='submit').
            menu
         button.Dropdown--aloneBorder(type='submit').
            x
      ul.List
         li.List__element: a(href="#").
            mis datos
         li.List__element: a(href="#").
            mis habilidades
         li.List__element: a(href="#").
            mis trabajos
         li.List__element: a(href="#").
            contáctame
