section.Skills
   ul.Skills_technologies
      li.Skills__element html5
      li.Skills__element css3
      li.Skills__element javascript
      li.Skills__element jquery
      li.Skills__element ajax
   ul.Skills__frameworks
      li.Skills__element jade
      li.Skills__element stylus
      li.Skills__element sass
      li.Skills__element scss
   ul.Skills__methodologies
      li.Skills__element responsive design
      li.Skills__element mobile first design
      li.Skills__element block element modifier
      li.Skills__element mejora progresiva 
