section.Work
   article.Work__element
      img.Work__image(src="img/image1.jpg")
      p description of the website
   article.Work__element
      img.Work__image(src="img/image1.jpg")
      p description of the website
   article.Work__element
      img.Work__image(src="img/image1.jpg")
      p description of the website
