// VARIABLES
$measure = 150

// BLOQUE DE ENCABEZADO
.Header
   // bloque de persona
   .Person
     width unit($measure,"px")
     height unit($measure,"px")
   .Person__avatar
      width 100%

// bloque de navegacion
.Header__navegation
   .List
      lista()

// bloque de datos personales
.Header__data
   .List
      lista()

// modificador de boton
[class*="aloneBorder"]
   btn()
