// MODIFICADOR DE BOTON

// sin fondo solo con borde
.aloneBorder
   btn()

// mayuscula la primera letra
.cap
   texto(primera)

// todo mayuscula
.mayus
   texto(mayuscula)


// BLOQUE DE ENCABEZADO
// quitar el borde
.no-support-border
   .Person__avatar
      border none
      border-radius unit($Person__ancho / 2,"px")
