// modificador de boton
.aloneBorder
   btn()
.cap
   texto(primera)

.mayus
   texto(mayuscula)


// BLOQUE DE ENCABEZADO
.no-support-border
   .Person__avatar
      border none
      border-radius unit($Person__ancho / 2,"px")
