// VARIABLES
$n_element = 3

// BLOQUE DE HABILIDADES
.Skills
   // no acepta porcentajes
   flex-basis 100%
   overflow hidden
   flexbox()
.Skills__list
   flex 0 0
   flex-basis 100%
   lista()
   font-style italic
   transition all 0.8s ease-in-out
.Skills__i1
   .Skills__list
      transform translateX(100%)
.Skills__i2
   .Skills__list
      transform translateX(0%)
.Skills__i3
   .Skills__list
      transform translateX(-100%)
